.container {
    background-image: url(img/background_netflix.png);
    width: 100%; 
    height: auto; 
}
/* @@@-----------------------------------------------------------HEADER-------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------ */
.header {
    border: 1px solid red;
    display: flex;
}
.logo img {
    width: 8%;
    height: auto;
}
.connexion {
    color: white;
}
/* @@@-------------------------------------------------------MAIN-------------------------------
------------------------------------------------------------------------------------------------ */
.main p {
    color: white;
    text-align: center;
}
.films {
    font-size: 2.5rem;
    font-weight: bolder;
}
.annulez {
    font-size: 1.5rem;
}
